<section class="home" [@slideIn]="state">
  <div class="container">
      <div class="row">
      <div class="column column-100">
        <div class="home__first-line">Hello, my name is <span>Mateusz</span> and I’m a</div>
        <div class="home__second-line">Frontend Developer<br />UI / UX Designer</div>
        <div class="home__third-line">I’m 26 years old and I live in Poland.</div>
      </div>
    </div>
    <div class="row">
      <div class="column column-50">
        <strong>See my works</strong>
        <br><br>
        <a routerLink="/projects" class="button">Portfolio</a>
      </div>
      <div class="column column-50">
        <strong>What can I help you?</strong>
        <br><br>
        <a routerLink="/contact" class="button">Contact</a>
      </div>
    </div>
  </div>
</section>